/*------------------------------------
  Slick Pagination - Simple
------------------------------------*/

.u-slick--pagination-simple {
  .u-slick--pagination-simple__item {
    cursor: pointer;
    @include px-to-rem(padding-top, 8px);
    @include px-to-rem(padding-bottom, 8px);
  }

  .u-slick--pagination-simple__icon {
    @include relative;
    z-index: $icon-z-index;
    line-height: $icon-line-height;
    @include icon-elements;
    @include px-to-rem(width, $icon-width);
    @include px-to-rem(height, $icon-height);
    color: $paragraph-color;
    @include px-to-rem(font-size, $icon-font-size);
    font-weight: $font-weight-medium;
    @include border-radius($icon-border-radius);
    border: 1px solid $gray-300;
    transition: $icon-transition;

    &-inner {
      @include content-centered;
    }
  }

  .slick-current {
    .u-slick--pagination-simple__title,
    .u-slick--pagination-simple__text {
      color: $primary;
    }

    .u-slick--pagination-simple__icon {
      color: $primary;
      border-color: $primary;
    }
  }
}