/*------------------------------------
  Slick Pagination - Active Transition
------------------------------------*/

.u-slick--active-transition {
  .slick-slide {
    @include px-to-rem(margin-top, 18px);
    @include px-to-rem(margin-bottom, 18px);
    transition: $transition-timing;
    transform: scale(0.9);
  }

  .slick-current {
    transform: scale(1.1);
  }
}