/*------------------------------------
  Avatar
------------------------------------*/

.u-avatar {
	width: 44px;
	height: 44px;
}

.u-sm-avatar {
	width: 32px;
	height: 32px;
}

.u-md-avatar {
	width: 64px;
	height: 64px;
}

.u-lg-avatar {
  width: 96px;
  height: 96px;
}