/*------------------------------------
  Modal Window
------------------------------------*/

.u-modal-window {
  @include relative;
  display: none;
  max-height: $modal-window-max-height;
  background-color: $modal-window-bg;
  @include px-to-rem(margin-left, $modal-window-margin-offsetX);
	@include px-to-rem(margin-right, $modal-window-margin-offsetX);

  &__close {
  	@include absolute(top 8px right 8px);
  	z-index: 1;
  }
}