/*------------------------------------
  Icon
------------------------------------*/

.u-icon {
	@include relative;
  z-index: $icon-z-index;
	line-height: $icon-line-height;
  @include icon-elements;
  @include px-to-rem(width, $icon-width);
  @include px-to-rem(height, $icon-height);
  @include px-to-rem(font-size, $icon-font-size);
  @include border-radius($icon-border-radius);
	transition: $icon-transition;

	&__inner {
  	@include content-centered;
  }
}

.u-icon--shadow {
  box-shadow: 0 4px 8px 0 $gray-300;
}