/*------------------------------------
  Timeline
------------------------------------*/

.u-timeline {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  &__item {
    @include relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include px-to-rem(margin-right, -15px);
    @include px-to-rem(margin-left, -15px);

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    &:nth-child(odd) {
      @include media-breakpoint-up(lg) {
        .u-timeline__content {
          order: 2;
          @include px-to-rem(padding-left, 48px);
        }

        .u-timeline__info {
          order: 1;
        }

        .u-timeline__spacer {
          order: 3;
        }
      }
    }

    &:nth-child(even) {
      @include media-breakpoint-up(lg) {
        .u-timeline__content {
          order: 2;
          @include px-to-rem(padding-left, 48px);
        }

        .u-timeline__info {
          order: 3;
          justify-content: flex-end;
        }

        .u-timeline__spacer {
          order: 1;
        }
      }
    }
  }

  &__icon {
    @include absolute(top 0 left 15px);

    @include media-breakpoint-up(lg) {
      left: 0;
    }
  }

  &__content,
  &__info {
    width: calc(100% - 64px);
  }

  &__info,
  &__spacer {
    display: flex;

    @include media-breakpoint-up(lg) {
      width: 33%;
    }
  }

  &__info,
  &__content,
  &__spacer {
    @include px-to-rem(padding-right, 15px);
    @include px-to-rem(padding-left, 15px);

    @include media-breakpoint-down(md) {
      @include px-to-rem(padding-left, 64px);
    }
  }

  &__info,
  &__content {
    @include relative;

    &::before {
      @include absolute(top 8px bottom 0 left 30px);
      height: 100%;
      border-left: 3px dashed $gray-300;
      content: "";

      @include media-breakpoint-up(lg) {
        left: 15px;
      }
    }
  }

  &__content {
    @include px-to-rem(padding-bottom, 32px);

    @include media-breakpoint-up(lg) {
      width: 50%;
      @include px-to-rem(padding-bottom, 64px);
    }
  }

  &__info {
    @include px-to-rem(padding-bottom, 32px);

    @include media-breakpoint-up(lg) {
      padding-bottom: 0;

      &::before {
        display: none;
      }
    }
  }
}