/*------------------------------------
  Button Sizes
------------------------------------*/

/* Extra Small */
.btn-xs {
  @include px-to-rem(font-size, $btn-font-size-xs);
  @include px-to-rem(padding, $input-btn-padding-y-xs $input-btn-padding-x-xs);
}

/* Icons */
.btn-icon {
	position: relative;
	line-height: 0;
  @include px-to-rem(font-size, $btn-icon-font-size);
  @include px-to-rem(width, $btn-width);
  @include px-to-rem(height, $btn-height);
  padding: 0;

  &__inner {
  	@include content-centered;
  }

	&.btn-xs {
  	@include px-to-rem(font-size, $btn-icon-font-size-xs);
		@include px-to-rem(width, $btn-width-xs);
		@include px-to-rem(height, $btn-height-xs);
  	padding: 0;
	}
}