/*------------------------------------
  Media Player
------------------------------------*/

.u-media-player {
  color: $dark;
  font-weight: $font-weight-normal;
  transition: all $transition-timing-sm $transition-function;

  &__icon {
    position: relative;
    @include icon-elements;
    @include px-to-rem(width, 60px);
    @include px-to-rem(height, 60px);
    @include px-to-rem(font-size, 13px);

    &::before {
      display: inline-block;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $white;
      @include border-radius($border-radius-rounded);
      transition: $transition-timing-md;
    }

    &-inner {
      color: $primary;
      @include content-centered;
      @include px-to-rem(margin-left, 2px);
    }

    &--box-shadow {
      &::before {
        box-shadow: 0 0 40px $gray-300;
      }
    }
  }

  &:hover {
    .u-media-player__icon {
      &::before {
        transform: scale(1.1);
      }
    }
  }
}

/* Extra Large Size */
.u-media-player__icon--xl {
  @include px-to-rem(width, 100px);
  @include px-to-rem(height, 100px);
  @include px-to-rem(font-size, 16px);
}