/*------------------------------------
  Media Viewer
------------------------------------*/

.u-media-viewer {
	@include relative;
	display: block;
	overflow: hidden;

	&:hover {
		.u-media-viewer {
			&__img {
				transform: scale(1.25);
			}

			&__icon {
				opacity: 1;
			}
		}
	}

	&__img {
		transition: $transition-timing-md;
	}

	&__container {
		@include absolute(bottom 0 right 0);
		@include px-to-rem(padding, 16px);
	}

	&__icon {
		@include icon-elements;
	  color: $white;
	  background-color: $primary;
	  @include px-to-rem(width, $icon-width);
		@include px-to-rem(height, $icon-height);
		@include px-to-rem(font-size, $icon-font-size);
	  @include border-radius($border-radius-rounded);
		opacity: 0;
		transition: $transition-timing-md;

	  &:hover,
	  &:focus {
	  	color: $white;
	  }

		&-inner {
  		@include content-centered;
  	}
	}
}