//
// Space Variables
// =========================================================

// Retreive color Sass maps
@function theme-color($hs-key: "primary") {
  @return map-get($theme-colors, $hs-key);
}

$root-path:          																			  "../";


// Typography
// =========================================================

$font-family-sans-serif:                               "Roboto", Helvetica, Arial, sans-serif !default;



// Breakpoints
// =========================================================

$breakpoints: (
  xs:                                                       0,
  sm:                                                       576px,
  md:                                                       768px,
  lg:                                                       992px,
  xl:                                                       1200px
) !default;



// Color System
// =========================================================

// stylelint-disable
$white:                                                   #fff !default;
$dark:                                                    #151b26 !default;
$darker:                                                  #181515 !default;
$header-color:                                            #5a5757 !default;

// Grays
$gray-100:                                                #f5f8fb !default;
$gray-150:                                                #bfc3ca !default;
$gray-200:                                                #8f95a0 !default;
$gray-300:                                                #e3e6f0 !default;
$gray-400:                                                #d4d7dd !default;
$gray-600:                                                #8c98a4 !default;
$gray-700:                                                #646f79 !default;

// Theme Colors
$teal:                                                    #21c87a !default;
$blue:                                                    #1c6be1 !default;
$cyan:                                                    #00dffc !default;
$yellow:                                                  #ffbc42 !default;
$red:                                                     #da4b48 !default;
$purple:                                                  #796eff !default;

// Social Colors
$facebook:           																			#3b5998 !default;
$google:                                                  #d14130 !default;
$twitter:                                                 #1da1f2 !default;
$instagram:                                               #3f729b !default;
$github:           																				#24292e !default;

// Theme Colors
$primary:                                                 $teal !default;
$secondary:                                               $gray-700 !default;
$success:                                                 $teal !default;
$info:                                                    $cyan !default;
$warning:                  																$yellow !default;
$danger:                                                  $red !default;
$light:                                                   $gray-100 !default;
$blue:                  																	$blue !default;

// Social Network Colors
$social-network-colors: () !default;
$social-network-colors: map-merge((
  "facebook":                                               $facebook,
  "google":                                                 $google,
  "twitter":                                                $twitter,
  "instagram":                                              $instagram,
  "github":                                                 $github
), $social-network-colors);

// Theme Colors
$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    																	          $primary,
  "secondary":  																	          $secondary,
  "success":  																		          $success,
  "info":  																				          $info,
  "warning":  																		          $warning,
  "danger":                                                 $danger,
  "light":  																			          $light,
  "dark":                                                   $dark,
  "purple":                                                 $purple,
  "blue":  																				          $blue
), $theme-colors);
// stylelint-enable



// Sizing
// ====================================================

// stylelint-disable
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 2.5),
  7: ($spacer * 3),
  8: ($spacer * 3.5),
  9: ($spacer * 4)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
  15: 15%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  50: 50%,
  60: 60%,
  65: 65%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%
), $sizes);
// stylelint-enable



// Links
//
// Style anchor elements.
$headings-link-color:                                     $dark !default;
$headings-white-link-color:                               $white !default;
$link-color:                          										theme-color("primary") !default;
$link-color-hover:                                        darken($link-color, 7.5%) !default;
$white-color-70:                                          rgba($white, .7) !default;
$white-color-hover:                          							$white !default;
$link-hover-decoration:                                   none !default;



// Paragraphs
//
// Style p element.
$paragraph-color:            														  $gray-700 !default;



// Type
//
// Font, line-height, and color for body text, headings, and more.

$font-weight-light:                                       300 !default;
$font-weight-normal:                                      400 !default;
$font-weight-medium:                                      500 !default;
$font-weight-semi-bold:                                   600 !default;
$font-weight-bold:                                        700 !default;

$headings-font-weight:                                    $font-weight-medium !default;
$display1-weight:                                         $font-weight-normal !default;
$display2-weight:                                         $font-weight-normal !default;
$display3-weight:                                         $font-weight-normal !default;
$display4-weight:                                         $font-weight-normal !default;
$headings-line-height:                                    1.5 !default;
$display-line-height:                                     1.2 !default;
$line-height-base:                                        1.7 !default;
$outline:                                                 5px auto -webkit-focus-ring-color !default;
$hr-border-color:                                         $gray-300 !default;



// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-accessibility:                                    false !default; // enable accessibility by changing '$enable-accessibility' from false to true.
$enable-shadows:                                          false !default;
$enable-rounded:                                          true !default;



// Content Space
//
// padding top and padding bottom size of a content

$space-1:                                                 32px !default;
$space-2:                                                 65px !default;
$space-3:                                                 130px !default; // Default style
$space-4:                                                 200px !default;
$space-5:                                                 240px !default;


// Cards
$card-count: () !default;
$card-count: map-merge((
  2:                                                        2,
  3:                                                        3,
  4:                                                        4
), $card-count);
// stylelint-enable



// Transitions

$transition-timing:                                       .3s !default;
$transition-timing-sm:                                    .2s !default;
$transition-timing-md:                                    .4s !default;
$transition-function:                                     ease-in-out !default;



// Borders
// =========================================================

$border-radius:                                           .25rem !default;
$border-radius-sm:                                        .125rem !default;
$border-radius-md:                                        .5rem !default;
$border-radius-pill:                                      6.1875rem !default;
$border-radius-rounded:                                   50% !default;



// Box Shadows
// =========================================================

$box-shadow-sm:                                           0 0 35px rgba($gray-600, .125) !default;
$box-shadow:                                              0 0 35px rgba($gray-600, .25) !default;
$box-shadow-lg:                                           0 10px 40px 10px rgba($gray-600, .175) !default;



// Forms
// =========================================================

// Text Colors
$form-focus-addon-color:                                  $dark !default;

// Z-indexes
$form-z-index:                                            2 !default;

// States
$form-focus-border-color:                                 rgba($dark, .5) !default;
$input-error-color:                                       theme-color("danger") !default;
$input-success-color:                                     theme-color("success") !default;
$form-error-focus-box-shadow:                             0 0 25px rgba(theme-color("danger"), .1) !default;
$form-success-focus-box-shadow:                           0 0 25px rgba(theme-color("success"), .1) !default;

// Box Shadow
$form-focus-box-shadow:                                   0 0 25px rgba($gray-700, .1) !default;
$form-pill-box-shadow:                                    0 0 25px rgba($gray-700, .1) !default;
$form-modern-focus-box-shadow:                            0 0 0 rgba($gray-700, 0) !default;

// Borders
$input-border-radius:                                     $border-radius !default;
$form-pill-border-radius:                                 $border-radius-pill !default;



// Bootstrap SCSS _variables customization
// =========================================================

// Colors
$pagination-color:                                        $secondary !default;
$pagination-hover-color:                                  theme-color("primary") !default;
$pagination-border-color:                                 $secondary !default;
$close-color:                                             $dark !default;

// Background Colors
$dropdown-divider-bg:                                     $hr-border-color !default;
$card-cap-bg:                                             $white !default;
$pagination-hover-bg:                                     rgba(theme-color("primary"), .1) !default;

// Border Colors
$input-border-color:                                      $gray-400 !default;
$custom-select-focus-border-color:                        $form-focus-border-color !default;
$card-border-color:                                       $gray-300 !default;

// Other Colors
$input-color:                                             $dark !default;
$input-group-addon-color:                                 $gray-200 !default;
$input-group-addon-bg:                                    $white !default;
$input-focus-color:                                       $dark !default;
$input-focus-border-color:                                $input-border-color !default;
$input-group-addon-border-color:                          $input-focus-border-color !default;
$custom-select-color:                                     $input-group-addon-color !default;

// Typography
$btn-font-weight:                                         $font-weight-semi-bold !default;

// Font Sizes
$btn-font-size-xs:                                        11px !default;
$btn-font-size-sm:                                        14px !default;
$btn-font-size-lg:                                        1rem !default;
$font-size-lg:                                            $btn-font-size-lg !default;
$btn-icon-font-size:                                      16px !default;
$btn-icon-font-size-xs:                                   12px !default;
$btn-icon-font-size-sm:                                   15px !default;
$btn-icon-font-size-lg:                                   18px !default;
$close-font-size:                                         1.25rem !default;

// Width & Heights
$btn-width:                                               50px !default;
$btn-width-xs:                                            24px !default;
$btn-width-sm:                                            43px !default;
$btn-width-lg:                                            67px !default;
$btn-height:                                              $btn-width !default;
$btn-height-xs:                                           $btn-width-xs !default;
$btn-height-sm:                                           $btn-width-sm !default;
$btn-height-lg:                                           $btn-width-lg !default;
$input-btn-min-width:                                     160px !default;
$input-btn-min-width-sm:                                  135px !default;

// Padding Spaces
$input-btn-padding-y:                                     .75rem !default;
$input-btn-padding-y-xs:                                  7px !default;
$input-btn-padding-y-sm:                                  .625rem !default;
$input-btn-padding-y-lg:                                  1.125rem !default;
$input-btn-padding-x:                                     1rem !default;
$input-btn-padding-x-xs:                                  15px !default;
$input-btn-padding-x-sm:                                  1.125rem !default;
$input-btn-padding-x-lg:                                  1.125rem !default;
$custom-select-padding-y:                                 $input-btn-padding-y !default;
$custom-select-padding-x:                                 $input-btn-padding-x !default;
$card-spacer-y:                                           1rem !default;

// Margin Spaces
$pagination-marginX:                                      4px !default;

// Box Shadows
$btn-box-shadow-value:                                    0 4px 17px !default;
$input-btn-focus-box-shadow-disabled:                     0 0 0 0 transparent !default;
$custom-select-focus-box-shadow:                          $form-focus-box-shadow !default;

// Borders
$btn-border-width:                                        .1rem !default;
$dropdown-border-width:                                   0 !default;
$pagination-min-width:                                    36px !default;
$pagination-border-width:                                 0 !default;
$card-inner-border-radius:                                $border-radius !default;

// Others
$tooltip-opacity:                                         1 !default;

// Transitions
$input-btn-transition-timing:                             $transition-timing-sm !default;
$input-btn-transition-function:                           $transition-function !default;
$input-transition:                                        all $input-btn-transition-timing $input-btn-transition-function !default;
$btn-transition:                                          all $input-btn-transition-timing $input-btn-transition-function !default;

// Custom Bootstrap elements
$bs-input-btn-focus-width:                                .2rem !default;
$bs-input-btn-focus-color:                                rgba(theme-color("primary"), .25) !default;
$bs-input-btn-focus-box-shadow:                           0 0 0 $bs-input-btn-focus-width $bs-input-btn-focus-color !default;
$bs-btn-box-shadow:                                       inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($dark, .075) !default;
$bs-btn-active-box-shadow:                                inset 0 3px 5px rgba($dark, .125) !default;



// Icons
// =========================================================

// Font Sizes
$icon-font-size:                                          16px !default;
$icon-font-size-xs:                                       9px !default;
$icon-font-size-sm:                                       13px !default;
$icon-font-size-md:                                       28px !default;
$icon-font-size-lg:                                       36px !default;

// Typography
$icon-line-height:                                        .7 !default;

// Z-indexes
$icon-z-index:                                            1 !default;

// Width & Heights
$icon-width:                                              44px !default;
$icon-width-xs:                                           22px !default;
$icon-width-sm:                                           32px !default;
$icon-width-md:                                           64px !default;
$icon-width-lg:                                           96px !default;
$icon-height:                                             $icon-width !default;
$icon-height-xs:                                          $icon-width-xs !default;
$icon-height-sm:                                          $icon-width-sm !default;
$icon-height-md:                                          $icon-width-md !default;
$icon-height-lg:                                          $icon-width-lg !default;

// Borders
$icon-border-radius:                                      $border-radius !default;

// Transitions
$icon-transition:                                         $transition-timing $transition-function !default;



// Text Muted
// =========================================================

// Text Colors
$text:           					       													$gray-700 !default;



// Header
// =========================================================

// Text Colors
$header-nav-link-color:                                   $header-color !default;
$header-nav-link-active-color:     										    theme-color("primary") !default;
$header-nav-link-hover-color:            							    theme-color("primary") !default;
$header-sub-menu-title:                                   $dark !default;
$header-user-name-color:                                  $paragraph-color !default;
$header-user-name-hover-color:                            $link-color !default;

// Background Colors
$header-bg:                                               $white !default;
$header-search-bg:                                        $white !default;

// Other Colors
$header-divider:                                          $hr-border-color !default;
$header-divider-color-light:                              rgba($white, .15) !default;
$header-sub-menu-divider:                                 $header-divider !default;
$header-sub-menu-divider-light-color:                     $header-divider-color-light !default;
$header-navbar-brand-divider:                             $header-divider !default;
$header-mega-menu-col-divider:                            $hr-border-color !default;
$header-search-border-color:                              $gray-300 !default;

// Z-indexes
$header-z-index:                                          101 !default;
$header-section-z-index:             										  1 !default;
$header-search-z-index:                                   102 !default;

// Width & Heights
$header-navbar-brand-width:                               150px !default;
$header-navbar-brand-width-sm:                            50px !default;
$header-absolute-height:                                  90vh !default;
$header-sticky-height:                                    90vh !default;
$header-floating-height:                                  90vh !default;
$header-search-width:                                     370px !default;

// Font
$header-nav-link-size:                                    16px !default;
$header-nav-link-weight:                                  $font-weight-normal !default;
$header-nav-link-icon-font-size:             					    10px !default;
$header-sub-menu-title-font-size:                         16px !default;
$header-sub-menu-title-font-weight:                       $font-weight-medium !default;

// Sub Menu
$header-sub-menu-nav-link-font-size:             			    14px !default;

// Padding Spaces
$header-navbar-icon-paddingY:                             21px !default;
$header-navbar-icon-paddingX:                             7px !default;
$header-navbar-nav-paddingY:                              10px !default;
$header-navbar-nav-paddingY-responsive:                   0 !default;
$header-nav-link-paddingY:                                22px !default;
$header-nav-link-paddingX:                                14px !default;
$header-sub-menu-paddingY:                                16px !default;
$header-sub-menu-nav-link-paddingY:                       10px !default;
$header-sub-menu-nav-link-paddingX:                       28px !default;
$header-sub-menu-paddingX:                                12px !default;
$header-nav-item-btn-paddingY:                            18px !default;
$header-nav-item-btn-paddingX:                            16px !default;
$header-mega-menu-wrapper-paddingX-v1:                    24px !default;
$header-floating-inner-paddingX:                          16px !default;
$header-transparent-navbar-nav-padding:                   24px !default;
$header-search-padding:                                   16px !default;

// Margin Spaces
$header-nav-link-icon-margin-left:                        4px !default;
$header-sub-menu-offset:                                  -17px !default;
$header-sub-menu-margin-bottom:                           10px !default;
$header-navbar-brand-offset:                              22px !default;
$header-floating-margin-top:                              32px !default;
$header-search-input-margin-top:                          21px !default;

// Borders
$header-border-radius:                                    $border-radius !default;
$header-sub-menu-top-border-radius:                       $header-border-radius !default;
$header-floating-border-radius:             						  $header-border-radius !default;

// Box Shadow
$header-submenu-box-shadow:                               0 8px 20px rgba($gray-700, .1) !default;
$header-absolute-bottom-submenu-box-shadow:               0 -8px 20px rgba($dark, .1) !default;
$header-search-box-shadow:                                0 0 25px rgba($dark, .1) !default;

// Transitions
$header-fix-effect-transition:                            $transition-timing ease !default;
$header-nav-link-icon-transition:                         $transition-timing !default;



// Hamburgers
// =========================================================

// Colors
$hamburger-layer-color:             											$gray-600 !default;
$hamburger-layer-hover-color:             								theme-color("primary") !default;
$hamburger-layer-white-color:                             rgba($white, .8) !default;
$hamburger-layer-white-hover-color:                       $white !default;

// Width & Heights
$hamburger-layer-width:             											22px !default;
$hamburger-layer-height:            											2.5px !default;

// Spacing
$hamburger-padding:                                       4px !default;
$hamburger-layer-spacing:                                 4px !default;

// Transitions
$hamburger-transition-duration:             							$transition-timing !default;
$hamburger-transition-timing-function:            				ease !default;



// Go To
// =========================================================

// Color
$go-to-color:                                              $white !default;
$go-to-hover-color:                                        $go-to-color !default;

// Background Color
$go-to-bg:                                                 theme-color("primary") !default;

// Width & Heights
$go-to-width:                                              40px !default;
$go-to-height:                                             $go-to-width !default;

// Z-Index
$go-to-z-index:                                            100 !default;

// Opacity
$go-to-opacity:                                            .5 !default;
$go-to-opacity-on-hover:                                   1 !default;

// Borders
$go-to-border-radius:                                      $border-radius !default;

// Transitions
$go-to-transition:                                         $transition-timing ease-out !default;



// Default Sidebar Elements
// =========================================================

// Background Color
$sidebar-bg-color:                                        $white !default;
$sidebar-close-color:                                     $gray-700 !default;
$sidebar-close-hover-color:                               $dark !default;

// Width & Heights
$sidebar-width:             															300px !default;

// Z-Index
$sidebar-z-index:                                         102 !default;

// Box Shadow
$sidebar-right-box-shadow:                                -8px 0 18px rgba($dark, .07) !default;
$sidebar-left-box-shadow:                                 8px 0 18px rgba($dark, .07) !default;



// Alert
// =========================================================

// Font Sizes
$alert-font-size-xs: 														          12px !default;
$alert-close-font-size-xs: 											          17px !default;

// Spacing
$alert-paddingY-xs: 														          10px !default;
$alert-close-paddingY-xs: 											          18px !default;

// Border
$alert-border-width: 														          0 !default;



// Label
// =========================================================

// Font Sizes
$label-font-size:                                         16px !default;
$label-font-size-sm:                                      12px !default;

// Padding Sizes
$label-padding:                                           10px 18px !default;
$label-padding-sm:                                        8px 16px !default;



// Unfold
// =========================================================

// Text Colors
$unfold-wrapper-color:                                  $gray-700 !default;
$unfold-wrapper-light-color:                            $gray-200 !default;
$unfold-wrapper-hover-color:                            $dark !default;

// Background Colors
$unfold-bg:                                             $white !default;
$dropdown-link-hover-bg:                                transparent !default;
$dropdown-link-active-bg:                               transparent !default;

// Z-indexes
$unfold-z-index:                                        99 !default;

// Width & Heights
$unfold-min-width:                                      135px !default;
$unfold-icon-width:                                     17px !default;
$dropdown-min-width:                                    $unfold-min-width !default;

// Font Sizes
$unfold-wrapper-font-size: 								              14px !default;
$unfold-icon-pointer-font-size: 						            10px !default;

// Padding Spaces
$unfold-padding:                                        16px 24px !default;
$unfold-item-padding-y:                                 .375rem !default;
$unfold-item-padding-x:                                 .375rem !default;
$dropdown-item-padding-y:                               $unfold-item-padding-y !default;
$dropdown-item-padding-x:                               $unfold-item-padding-x !default;

// Borders
$unfold-border-radius:											            $border-radius !default;

// Box Shadow
$unfold-box-shadow:                                     0 4px 15px rgba($gray-700, .1) !default;
$dropdown-box-shadow:                                   $unfold-box-shadow !default;



// Badge
// =========================================================

// Font Sizes
$badge-font-size-xs:                                      10px !default;
$badge-font-size-sm:                                      14px !default;

// Line Heights
$badge-line-height:                                       1.7 !default;
$badge-line-height-icon-sm:                               1.5 !default;

// Z-Index
$badge-z-index:                                           3 !default;

// Width & Heights
$badge-width:                                             18px !default;
$badge-width-xs:                                          14px !default;
$badge-width-sm:                                          26px !default;
$badge-height:                                            $badge-width !default;
$badge-height-xs:                                         $badge-width-xs !default;
$badge-height-sm:                                         $badge-width-sm !default;

// Padding Spaces
$badge-bigger-paddingX:                                   8px 10px !default;
$badge-bigger-paddingX-sm:                                5px 8px !default;

// Borders
$badge-border-style:                                      solid !default;



// Modal Window
// =========================================================

// Background Color
$modal-window-bg:                                         $white !default;

// Width & Heights
$modal-window-max-height:                                 88vh !default;

// Margin Spaces
$modal-window-margin-offsetX:                             20px !default;



// Table
// =========================================================

// Background Color
$table-accent-bg:                                         $gray-100 !default;

// Border Colors
$table-border-color:                                      $gray-300 !default;



// List Group
// =========================================================

// Colors
$list-group-action-hover-color:                             $primary !default;
$list-group-action-active-color:                            $list-group-action-hover-color !default;

// Background Colors
$list-group-hover-bg:                                       transparent !default;
$list-group-action-active-bg:                               $list-group-hover-bg !default;

// Border Colors
$list-group-border-color:                                   $gray-300 !default;

// Padding Spaces
$list-group-item-padding-y:                                 .375rem !default;