/*------------------------------------
  Unfold (Drop Down) - Language
------------------------------------*/

.u-unfold--language {
	@include px-to-rem(min-width, 290px);
	padding: 0;
	@include px-to-rem(margin-bottom, 56px);

	&-btn {
		border: 1px solid rgba($white, .1);

		&:hover,
		&:focus {
			color: $white !important;
		}
	}

	&__link {
		display: block;
		background-color: $gray-100;
	}

	&-icon-pointer {
		.active & {
			transform: rotate(-180deg);
		}
	}

	@include media-breakpoint-up(sm) {
		@include px-to-rem(min-width, 360px);
	}
}