/*------------------------------------
  Slick Arrows Classic
------------------------------------*/

.u-slick__arrow-classic {
	z-index: 1;
	line-height: 0;
	display: inline-block;
	color: $white;
	background-color: rgba($white, .1);
	@include px-to-rem(width, $icon-width-md);
	@include px-to-rem(height, $icon-height-md);
	@include px-to-rem(font-size, $icon-font-size);
	cursor: pointer;
	transition: $transition-timing;

	&:hover {
		color: $white;
		background-color: rgba($primary, 1);
	}

	&-inner {
		&:before {
			@include content-centered;
		}

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
		}
	}
}

/* Dark Version */
.u-slick__arrow-classic--dark {
	color: $secondary;
	background-color: rgba($secondary, .1);
}