/*------------------------------------
  Slick Arrows
------------------------------------*/

.u-slick__arrow {
	z-index: 1;
	line-height: 0;
	display: inline-block;
	color: $gray-700;
	@include px-to-rem(width, 40px);
	@include px-to-rem(height, 40px);
	@include px-to-rem(font-size, 18px);
	cursor: pointer;
	transition: $transition-timing;

	&:hover {
		color: $primary;
	}

	&-inner {
		&:before {
			@include content-centered;
		}

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
		}
	}

	&.slick-disabled {
		color: $gray-300;
		cursor: auto;
	}
}

.u-slick__arrow-pos--bottom-minus-7 {
	@include absolute(bottom -64px);
}

/* Center Alignment */
.u-slick__arrow-centered--x {
	@include content-centered(true, false);
}

.u-slick__arrow-centered--y {
	@include content-centered(false, true);
}