/*------------------------------------
  Default Styles
------------------------------------*/

main {
  @include relative;
}

p {
  color: $paragraph-color;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $font-weight-normal;

  > a {
    color: $headings-link-color;
    font-weight: $font-weight-normal;

    &:hover {
      color: $link-color-hover;
    }
  }

  &.text-white > a {
    color: $headings-white-link-color;
  }
}

h6,
.h6 {
  font-weight: $font-weight-medium;
}

figure {
  margin-bottom: 0;
}

object {
  @include px-to-rem(margin-bottom, -5px);
}

/*------------------------------------
  Highlight Color
------------------------------------*/

::-moz-selection {
  color: $white;
  background-color: $primary;
}

::selection {
  color: $white;
  background-color: $primary;
}

.bg-primary ::-moz-selection {
  color: $primary;
  background-color: $white;
}

.bg-primary ::selection {
  color: $primary;
  background-color: $white;
}