/*------------------------------------
  List Group
------------------------------------*/

.list-group {
	list-style: none;

	.list-group {
		@include px-to-rem(margin-left, 16px);
	}

	.list-group-item {
		@include px-to-rem(font-size, 14px);
	}

	.active {
		> .list-group-item {
			color: $primary;
		}
	}
}

/* Border Radius */
.list-group-rounded-0 {
	.list-group-item {
		&:first-child {
	    @include border-top-radius(0);
	  }

	  &:last-child {
	    @include border-bottom-radius(0);
	  }
	}
}

/* Transparent */
.list-group-transparent {
	.list-group-item {
		color: $white;
		border-color: transparent;
		background-color: transparent;

		&[href] {
			color: $white-color-70;
		}

		&[href]:hover {
			color: $white-color-hover;
		}
	}

	&.list-group-striped {
		.list-group-item {
			&:nth-child(even) {
				background-color: rgba($white, .1);
			}
		}
	}
}

/* Flush */
.list-group-flush {
	.list-group-item {
		padding-left: 0;
		padding-right: 0;

		&.active {
			color: $primary;
			background-color: transparent;
			border-color: transparent;
		}
	}
}

/* Borderless */
.list-group-borderless {
	.list-group-item {
		border: none;
	}
}

/* Striped */
.list-group-striped {
	.list-group-item {
		&:nth-child(even) {
			background-color: $gray-100;
		}
	}
}