/*------------------------------------
  Margin Spacing
------------------------------------*/

.ml-offset-3 {
  @include px-to-rem(margin-left, -16px);
}

.ml-offset-5 {
  @include px-to-rem(margin-left, -32px);
}

.mt-offset-1 {
  @include px-to-rem(margin-top, -4px);
}

.mt-offset-9 {
  @include px-to-rem(margin-top, -64px);
}

.mb-offset-9 {
  @include px-to-rem(margin-bottom, -64px);
}

.mb-offset-14 {
  @include px-to-rem(margin-bottom, -112px);
}

/* Gutters X */
.mx-gutters-1 {
  margin-right: -4px;
  margin-left: -4px;

  > .col,
  > [class*="col-"] {
    padding-right: 4px;
    padding-left: 4px;
  }
}

.mx-gutters-2 {
  margin-right: -8px;
  margin-left: -8px;

  > .col,
  > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}