/*------------------------------------
  Width
------------------------------------*/

.min-width-3 {
  @include px-to-rem(min-width, 16px);
}

.min-width-35 {
  @include px-to-rem(min-width, 112px);
}

.max-width-3 {
  @include px-to-rem(max-width, 16px);
}

.max-width-4 {
  @include px-to-rem(max-width, 24px);
}

.max-width-5 {
  @include px-to-rem(max-width, 32px);
}

.max-width-6 {
  @include px-to-rem(max-width, 40px);
}

.max-width-7 {
  @include px-to-rem(max-width, 48px);
}

.max-width-9 {
  @include px-to-rem(max-width, 64px);
}

.max-width-10 {
  @include px-to-rem(max-width, 80px);
}

.max-width-12 {
  @include px-to-rem(max-width, 96px);
}

.max-width-14 {
  @include px-to-rem(max-width, 112px);
}

.max-width-18 {
  @include px-to-rem(max-width, 144px);
}

// Small Devices
@include media-breakpoint-up(sm) {
  .max-width-sm-40 {
    @include px-to-rem(max-width, 320px);
  }
}


/*------------------------------------
  Height
------------------------------------*/

.height-100vh {
  height: 100vh;
}

.height-400 {
  @include px-to-rem(height, 400px);
}

.height-550 {
  @include px-to-rem(height, 550px);
}

.height-600 {
  height: 600px;
}

.min-height-280 {
  @include px-to-rem(min-height, 280px);
}

// Small Devices
@include media-breakpoint-up(sm) {
  .height-100vh--sm {
    height: 100vh;
  }
}

// Medium Devices
@include media-breakpoint-up(md) {
  .height-100vh--md {
    height: 100vh;
  }
}

// Large Devices
@include media-breakpoint-up(lg) {
  .height-15vh--lg {
    height: 15vh;
  }

  .height-85vh--lg {
    height: 85vh;
  }

  .height-100vh--lg {
    height: 100vh;
  }

  .height-600--lg {
    height: 600px;
  }
}

// Extra Large Devices
@include media-breakpoint-up(xl) {
  .height-100vh--xl {
    height: 100vh;
  }
}