/*------------------------------------
  Space
------------------------------------*/

.space-1 {
	@include px-to-rem(padding-top, $space-1);
	@include px-to-rem(padding-bottom, $space-1);

	&-top {
		@include px-to-rem(padding-top, $space-1);
	}

	&-bottom {
		@include px-to-rem(padding-bottom, $space-1);
	}
}

.space-2 {
	@include px-to-rem(padding-top, $space-2);
	@include px-to-rem(padding-bottom, $space-2);

	&-top {
		@include px-to-rem(padding-top, $space-2);
	}

	&-bottom {
		@include px-to-rem(padding-bottom, $space-2);
	}
}

.space-3 {
	@include px-to-rem(padding-top, $space-3);
	@include px-to-rem(padding-bottom, $space-3);

	&-top {
		@include px-to-rem(padding-top, $space-3);
	}

	&-bottom {
		@include px-to-rem(padding-bottom, $space-3);
	}
}

.space-4 {
	@include px-to-rem(padding-top, $space-4);
	@include px-to-rem(padding-bottom, $space-4);

	&-top {
		@include px-to-rem(padding-top, $space-4);
	}

	&-bottom {
		@include px-to-rem(padding-bottom, $space-4);
	}
}

.space-5 {
	@include px-to-rem(padding-top, $space-5);
	@include px-to-rem(padding-bottom, $space-5);

	&-top {
		@include px-to-rem(padding-top, $space-5);
	}

	&-bottom {
		@include px-to-rem(padding-bottom, $space-5);
	}
}

.space-0 {
	@include px-to-rem(padding-top, 0);
	@include px-to-rem(padding-bottom, 0);

	&-top {
		@include px-to-rem(padding-top, 0);
	}

	&-bottom {
		@include px-to-rem(padding-bottom, 0);
	}
}

// Small Devices
@include media-breakpoint-up(sm) {
	.space-3--sm {
		@include px-to-rem(padding-top, $space-3);
		@include px-to-rem(padding-bottom, $space-3);
	}

	.space-3-bottom--sm {
		@include px-to-rem(padding-bottom, $space-3);
	}

	.space-4-top--sm {
		@include px-to-rem(padding-top, $space-4);
	}

	.space-5--sm {
		@include px-to-rem(padding-top, $space-5);
		@include px-to-rem(padding-bottom, $space-5);
	}
}

// Medium Devices
@include media-breakpoint-up(md) {
	.space-2-bottom-0--md {
		@include px-to-rem(padding-bottom, 0);
	}

	.space-3--md {
		@include px-to-rem(padding-top, $space-3);
		@include px-to-rem(padding-bottom, $space-3);
	}

	.space-3-top--md {
		@include px-to-rem(padding-top, $space-3);
	}

	.space-3-bottom--md {
		@include px-to-rem(padding-bottom, $space-3);
	}

	.space-4-top--md {
		@include px-to-rem(padding-top, $space-4);
	}

	.space-5--md {
		@include px-to-rem(padding-top, $space-5);
		@include px-to-rem(padding-bottom, $space-5);
	}

	.space-5-top--md {
		@include px-to-rem(padding-top, $space-5);
	}
}

// Large Devices
@include media-breakpoint-up(lg) {
	.space-1--lg {
		@include px-to-rem(padding-top, $space-1);
		@include px-to-rem(padding-bottom, $space-1);
	}

	.space-3--lg {
		@include px-to-rem(padding-top, $space-3);
		@include px-to-rem(padding-bottom, $space-3);
	}

	.space-3-top--lg {
		@include px-to-rem(padding-top, $space-3);
	}

	.space-3-bottom--lg {
		@include px-to-rem(padding-bottom, $space-3);
	}

	.space-4--lg {
		@include px-to-rem(padding-top, $space-4);
		@include px-to-rem(padding-bottom, $space-4);
	}

	.space-4-top--lg {
		@include px-to-rem(padding-top, $space-4);
	}

	.space-4-bottom--lg {
		@include px-to-rem(padding-bottom, $space-4);
	}

	.space-5--lg {
		@include px-to-rem(padding-top, $space-5);
		@include px-to-rem(padding-bottom, $space-5);
	}

	.space-5-top--lg {
		@include px-to-rem(padding-top, $space-5);
	}

	.space-0--lg {
		padding-top: 0;
		padding-bottom: 0;
	}

	.space-0-top--lg {
		padding-top: 0;
	}

	.space-0-bottom--lg {
		padding-bottom: 0;
	}
}

// Extra Large Devices
@include media-breakpoint-up(xl) {
	.space-3-bottom--xl {
		@include px-to-rem(padding-bottom, $space-3);
	}

	.space-4-top--xl {
		@include px-to-rem(padding-top, $space-4);
	}
}