/*------------------------------------
  Slick Pagination
------------------------------------*/

.u-slick__pagination {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  li {
    display: flex;
    pointer-events: all;
    @include px-to-rem(margin, 0 8px);
    cursor: pointer;

	  span {
	  	display: inline-block;
	  	@include px-to-rem(width, 16px);
	  	@include px-to-rem(height, 16px);
      box-sizing: border-box;
	    background-color: $gray-600;
	    border: 3px solid transparent;
	    @include border-radius($border-radius-rounded);
	    transform: scale(.6);
	    transition: $transition-timing;
	  }

    &.slick-active {
      span {
        background-color: transparent;
        border-color: $gray-600;
        transform: scale(.9);
      }
    }
  }
}

/* White Option */
.u-slick__pagination {
  &.u-slick__pagination--white {
    li {
      span {
        background-color: $white;
      }

      &.slick-active {
        span {
          background-color: transparent;
          border-color: $white;
        }
      }
    }
  }
}