/*------------------------------------
  Slick Pagination Bordered
------------------------------------*/

.u-slick__pagination-bordered {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  li {
    display: flex;
    pointer-events: all;
    @include px-to-rem(margin, 0 8px);
    @include px-to-rem(padding-top, 8px);
    @include px-to-rem(padding-bottom, 8px);
    cursor: pointer;

    span {
      display: inline-block;
      @include px-to-rem(width, 64px);
      @include px-to-rem(height, 4px);
      box-sizing: border-box;
      background-color: $gray-600;
      transition: $transition-timing;
    }

    &:hover {
      span {
        background-color: rgba($primary, .4);
      }
    }

    &.slick-active {
      span {
        background-color: $primary;
      }
    }
  }
}

/* White Option */
.u-slick__pagination-bordered {
  &.u-slick__pagination-bordered--white {
    li {
      span {
        background-color: rgba($white, .5);
      }

      &:hover {
        span {
          background-color: rgba($white, .7);
        }
      }

      &.slick-active {
        span {
          background-color: $white;
        }
      }
    }
  }
}