/*------------------------------------
  Sidebar Panel
------------------------------------*/

/* Link */
.u-sidebar {
  &--panel__link {
    color: $paragraph-color;

    &:hover {
      color: $primary;
    }
  }
}

/* Footer */
.u-sidebar {
	&--panel__footer-offset {
  	height: 100%;
  	box-sizing: border-box;
  	@include px-to-rem(padding-bottom, 152px);
  }

  &__footer--panel {
  	background: $white;
  	border-top: 1px solid $gray-300;
  }
}