/*------------------------------------
  Header Submenu Background Colors
------------------------------------*/

.u-header--sub-menu-dark-bg {
	@each $hs-breakpoint in map-keys($breakpoints) {
    $hs-infix: breakpoint-infix($hs-breakpoint, $breakpoints);

    &#{$hs-infix} {
    	@include media-breakpoint-up($hs-breakpoint) {
    		// Submenu
				.u-header__navbar-nav .u-header__sub-menu {
					background-color: $dark;
          border-color: $header-sub-menu-divider-light-color;

          &-title {
            color: rgba($white, .9);
          }

          &-nav-link {
            color: rgba($white, .5);

            &:hover {
              color: $white;
            }
          }
        }

        // Mega Menu
        .u-header__mega-menu-col {
          &:not(:last-child) {
            border-right-color: $header-sub-menu-divider-light-color;
          }
        }

        // Dropdown
        .dropdown-divider {
					border-color: $header-sub-menu-divider-light-color;
        }
			}
		}
	}
}