/*------------------------------------
  Form Selector Modern
------------------------------------*/

.form-selector-modern {
  width: 100%;
  padding-left: 0;
  margin-right: 0;
  @include px-to-rem(margin-bottom, 16px);

  &__input {
    &:checked ~ .form-selector-modern__label {
      border-color: $primary;
    }
  }

  &__label {
    width: 100%;
    cursor: pointer;
    border: 2px solid $gray-300;
    @include border-radius($border-radius);
    @include px-to-rem(padding, 20px);
    @include px-to-rem(padding-left, 48px);

    &::before,
    &::after {
      @include px-to-rem(top, 24px);
      @include px-to-rem(left, 20px);
    }
  }
}