/*------------------------------------
  Form Selector
------------------------------------*/

.form-selector {
  padding-left: 0;
  @include px-to-rem(margin-right, 8px);
  @include px-to-rem(margin-bottom, 12px);

  &__input {

    &:checked ~ .form-selector__label {
      border-color: $primary;
    }
  }

  &__label {
    text-align: center;
    cursor: pointer;
    @include px-to-rem(min-width, 80px);
    border: 1px solid $gray-300;
    @include border-radius($border-radius);
    @include px-to-rem(padding-top, 8px);
    @include px-to-rem(padding-bottom, 8px);

    &::before,
    &::after {
      display: none;
    }
  }
}