/*------------------------------------
  Header Default
------------------------------------*/

.u-header {
  @include relative(right 0 left 0);
  width: 100%;
  z-index: $header-z-index;

  &__section {
    @include relative;
    z-index: $header-section-z-index;
    background-color: $header-bg;
    transition: background-color $transition-timing $transition-function;
    border-bottom: 1px solid $header-divider;
  }
}

// Hamburger
.u-header__hamburger {
  display: flex;
  align-items: center;
}

/* Navbar */
.u-header__navbar {
  padding: 0;

  &-brand {
    @include px-to-rem(width, $header-navbar-brand-width);

    &-mobile {
      @include px-to-rem(width, $header-navbar-brand-width-sm);
    }
  }

  &-nav {
    @include px-to-rem(padding-top, $header-navbar-nav-paddingY);
    @include px-to-rem(padding-bottom, $header-navbar-nav-paddingY);
  }

  &-icon {
    @include px-to-rem(padding-top, $header-navbar-icon-paddingY);
    @include px-to-rem(padding-bottom, $header-navbar-icon-paddingY);
    @include px-to-rem(padding-left, $header-navbar-icon-paddingX);
    @include px-to-rem(padding-right, $header-navbar-icon-paddingX);

    &:last-child {
      padding-right: 0;
    }

    &-wrapper {
      margin-left: auto;
    }
  }
}

/* Nav Item */
.u-header__nav-item {
  &:hover,
  &:focus {
    .u-header__nav-link {
      color: $header-nav-link-hover-color;
    }
  }
}

/* Nav Link */
.u-header {
  &__nav-link {
    color: $header-nav-link-color;
    font-size: $header-nav-link-size;
    font-weight: $header-nav-link-weight;

    &-icon {
      @include px-to-rem(font-size, $header-nav-link-icon-font-size);
      @include px-to-rem(margin-left, $header-nav-link-icon-margin-left);
      transition: $header-nav-link-icon-transition;
    }
  }

  .active > {
    .u-header__nav-link {
      color: $header-nav-link-active-color;
    }
  }
}

/* Sub Menu */
.u-header__sub-menu {
  &-title {
    display: block;
    color: $header-sub-menu-title;
    @include px-to-rem(font-size, $header-sub-menu-title-font-size);
    font-weight: $header-sub-menu-title-font-weight;
    @include px-to-rem(margin-bottom, $header-sub-menu-margin-bottom);
  }

  &-nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include px-to-rem(font-size, $header-sub-menu-nav-link-font-size);
    color: $header-nav-link-color;

    &-icon {
      @include px-to-rem(font-size, $header-nav-link-icon-font-size);
    }
  }

  .active > {
    .u-header__sub-menu-nav-link {
      color: $header-nav-link-active-color;
    }
  }
}

/* Search */
.u-header__search {
  &-addon {
    border: none;

    &-btn {
      @include border-left-radius(0);
    }
  }
}

/* Header Fix Top */
.u-header--fix-top {
  position: fixed;
}

.u-header.u-header--fix-top[data-effect-compensation] {
  transition: none;
}