/*------------------------------------
  Shopping Cart - Color Selector
------------------------------------*/

.u-shopping-cart-color-selector {
  display: inline-block;
  cursor: pointer;
  @include px-to-rem(width, 28px);
  @include px-to-rem(height, 28px);
  @include px-to-rem(padding, 2px);
  border: 3px solid $white;
  @include border-radius($border-radius-rounded);

  &.active {
    box-shadow: 0 0 0 2px $gray-150;

    &:hover {
      box-shadow: 0 0 0 2px $gray-150;
    }
  }

  &:hover {
    box-shadow: 0 0 0 2px $gray-300;
  }
}