/*------------------------------------
  Card
------------------------------------*/

@each $hs-breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($hs-breakpoint, $breakpoints) {
    $hs-infix: breakpoint-infix($hs-breakpoint, $breakpoints);

    @each $prop, $abbrev in (column-count: cc) {
      @each $card-count, $length in $card-count {
        .card#{$hs-infix}-#{$card-count}-count { #{$prop}: $length; }
      }
    }

    .card#{$hs-infix}-columns {
      column-gap: 1rem;
      orphans: 1;
      widows: 1;

      .card {
        display: inline-block; // Don't let them vertically span multiple columns
        width: 100%; // Don't let their width change
      }
    }
  }
}

.card-collapse {
  border-top: none;
  border-left: none;
  border-right: none;
  @include border-radius(0);
  background-color: transparent;

  &__header {
    padding: 0;
    background-color: transparent;
    transition: $transition-timing $transition-function;
  }

  &__btn {
    color: $dark;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    white-space: inherit;

    &-arrow {
      color: $primary;
      @include px-to-rem(margin-left, 16px);
      transition: $transition-timing $transition-function;

      &-inner {
        @include px-to-rem(font-size, 13px);
      }

      .collapsed & {
        transform: rotate(-90deg);
      }
    }
  }

  &__body {
    color: $paragraph-color;
  }
}

// Card image caps
.card-img-right {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-right-radius($card-inner-border-radius);
}

.card-img-left {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-left-radius($card-inner-border-radius);
}

/* Card Frame */
.card-frame {
  border: 1px solid $gray-300;
  border-top-width: 4px;
  transition: $transition-timing;

  &.active,
  &:hover {
    border-color: rgba($primary, .7);
    box-shadow: $box-shadow;
  }
}

@each $color, $value in $theme-colors {
  .card-#{$color}-frame {
    @include card-frame-style($value);
  }
}

// Small Devices
@include media-breakpoint-up(sm) {
  /* Gutters X */
  .card-sm-gutters-1 {
    @include px-to-rem(margin-right, -4px);
    @include px-to-rem(margin-left, -4px);

    .card {
      @include px-to-rem(margin-right, 4px);
      @include px-to-rem(margin-left, 4px);
    }
  }

  .card-sm-gutters-2 {
    @include px-to-rem(margin-right, -8px);
    @include px-to-rem(margin-left, -8px);

    .card {
      @include px-to-rem(margin-right, 8px);
      @include px-to-rem(margin-left, 8px);
    }
  }

  .card-sm-gutters-3 {
    @include px-to-rem(margin-right, -16px);
    @include px-to-rem(margin-left, -16px);

    .card {
      @include px-to-rem(margin-right, 16px);
      @include px-to-rem(margin-left, 16px);
    }
  }
}

// Medium Devices
@include media-breakpoint-up(md) {
  /* Gutters X */
  .card-md-gutters-1 {
    @include px-to-rem(margin-right, -4px);
    @include px-to-rem(margin-left, -4px);

    .card {
      @include px-to-rem(margin-right, 4px);
      @include px-to-rem(margin-left, 4px);
    }
  }

  .card-md-gutters-2 {
    @include px-to-rem(margin-right, -8px);
    @include px-to-rem(margin-left, -8px);

    .card {
      @include px-to-rem(margin-right, 8px);
      @include px-to-rem(margin-left, 8px);
    }
  }

  .card-md-gutters-3 {
    @include px-to-rem(margin-right, -16px);
    @include px-to-rem(margin-left, -16px);

    .card {
      @include px-to-rem(margin-right, 16px);
      @include px-to-rem(margin-left, 16px);
    }
  }
}

// Large Devices
@include media-breakpoint-up(lg) {
  /* Gutters X */
  .card-lg-gutters-1 {
    @include px-to-rem(margin-right, -4px);
    @include px-to-rem(margin-left, -4px);

    .card {
      @include px-to-rem(margin-right, 4px);
      @include px-to-rem(margin-left, 4px);
    }
  }

  .card-lg-gutters-2 {
    @include px-to-rem(margin-right, -8px);
    @include px-to-rem(margin-left, -8px);

    .card {
      @include px-to-rem(margin-right, 8px);
      @include px-to-rem(margin-left, 8px);
    }
  }

  .card-lg-gutters-3 {
    @include px-to-rem(margin-right, -16px);
    @include px-to-rem(margin-left, -16px);

    .card {
      @include px-to-rem(margin-right, 16px);
      @include px-to-rem(margin-left, 16px);
    }
  }
}

// Extra Large Devices
@include media-breakpoint-up(xl) {
  /* Gutters X */
  .card-xl-gutters-1 {
    @include px-to-rem(margin-right, -4px);
    @include px-to-rem(margin-left, -4px);

    .card {
      @include px-to-rem(margin-right, 4px);
      @include px-to-rem(margin-left, 4px);
    }
  }

  .card-xl-gutters-2 {
    @include px-to-rem(margin-right, -8px);
    @include px-to-rem(margin-left, -8px);

    .card {
      @include px-to-rem(margin-right, 8px);
      @include px-to-rem(margin-left, 8px);
    }
  }

  .card-xl-gutters-3 {
    @include px-to-rem(margin-right, -16px);
    @include px-to-rem(margin-left, -16px);

    .card {
      @include px-to-rem(margin-right, 16px);
      @include px-to-rem(margin-left, 16px);
    }
  }
}