/*------------------------------------
  Badges
------------------------------------*/

[class*="badge-"] {
  z-index: $badge-z-index;
  @include icon-elements;
  line-height: $badge-line-height;
}

.badge-xs {
  @include px-to-rem(width, $badge-width);
  @include px-to-rem(height, $badge-height);
  @include px-to-rem(font-size, $badge-font-size-xs);
}

.badge-sm {
  @include px-to-rem(width, $badge-width-sm);
  @include px-to-rem(height, $badge-height-sm);
  @include px-to-rem(font-size, $badge-font-size-sm);

  &.badge-icon {
    line-height: $badge-line-height-icon-sm;
  }
}

.badge-pos {
  @include absolute;
}

/* Positions */
.badge-pos:not([class*="--top-left"]):not([class*="--bottom-left"]):not([class*="--bottom-right"]) {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.badge-pos {
  &--top-left {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }

  &--bottom-right {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }

  &--bottom-right-minus-1 {
    @include px-to-rem(bottom, -4px);
    @include px-to-rem(right, -4px);
  }
}