/*------------------------------------
  Shopping Cart
------------------------------------*/

/* Item */
.u-shopping-cart {
  border: 1px solid $gray-300;
  @include px-to-rem(margin-top, 21px);
  @include border-radius(0);

  &__item {
    &-divider {
      border-bottom: 1px solid $gray-300;
      @include px-to-rem(padding-bottom, 24px);
      @include px-to-rem(margin-bottom, 24px);
    }

    &-img-wrapper {
      width: 25%;
    }

    &-info-wrapper {
      width: 75%;
    }

    &-remover {
      cursor: pointer;
      color: $gray-150;

      &:hover {
        color: $dark;
      }
    }
  }
}